img {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
body {
    margin: 0 auto;
    min-width: 320px;
    max-width: 100%;
    font-family: "Microsoft YaHei",Arial,"Helvetica";
    background: #F5F5F5;
    color: #666;
    font-size: 12px;
}

/*banner图*/
.banner-img,.banner-count{
	width: 100vw;
}
.banner-count{
	text-align: center;
	margin-top: 10%;
}
.banner-count p{
    font-size: 16px;
    color: #3c4347;
    margin-bottom: 1%;
    line-height: 28px;
    font-weight: bold;
}
.banner-count span{
    font-size: 16px;
    color: #3c4347;
}
.banner-count .l{
	font-size: 12px;
    color: #3C4347;
    margin: 0 5px;
}
/*返回按钮*/
.z-backBtn{
	width: 35px;
    height: 35px;
    background: rgba(0,0,0,.5);
    line-height: 35px;
    text-align: center;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 998;
    border-radius: 50%;
}
.z-backBtn i{
	font-size: 20px;
	color: #fff;
}

/*商品*/
.z-product .product-list li{
	padding: 10% 2% 3%;
	background: #fff;
	margin-top: 12%;
	position: relative;
}
/*top图标*/
.product-list .z-top{
    position: absolute;
    top: -8%;
    left: 50%;
    margin-left: -8%;
    z-index: 10;
    width: 16%;
    border-radius: 50%;
    overflow: hidden;
}
/*商品名称*/
.product-list .pro-name{
    color: #3c4347;
    font-weight: bold;
    font-size: 16px;
    margin-top: 2%;
}
/*商品介绍*/
.product-list .pro-txt{
	font-size: 14px;
    color: #3c4347;
    padding: 2% 0;
    border-bottom: 1px solid #EFEFEF;
}
/*商品价格*/
.product-list .pro-price{
	margin: 3% 0;
}
.product-list .pro-price span{
    font-size: 18px;
    color: #FF4348;
    font-weight: bold;
}
.product-list .pro-price span:before{
	content: "￥";
}

/*购物车*/
.z-addGWC{
    padding: 2% 5%;
    background-color: #ff4348;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    right: 2.5%;
    bottom: 3%;
}

/*购物车数量*/
.z-cart{
    position: fixed;
    width: 50px;
    height: 50px;
    padding: 11px;
    border-radius: 25px;
    background: rgba(0,0,0,.8);
    bottom: 40px;
    right: 5%;
    text-align: center;
    line-height: 27px;
    z-index: 999;
}
.cart-num{
    width: 23px;
    height: 23px;
    line-height: 23px;
    border-radius: 50%;
    background: #d13926;
    color: #fff;
    font-size: 12px;
    position: absolute;
    right: 3px;
    top: -10px;
}

.hidden{
	display: none;
}












